/* style sheet for Brew the Best
	 Author: Eric Lund
	 Date: February 14th, 2013
*/

body {
	background-color: #a9cfe4;
	font-family: Skia;
	margin: 0px;
}

/*Used for the top bar*/
h1.mySpecialHeader{
	border-style: solid;
	border-color: white;
	border-left: 0px;
	border-right: 0px;
	color: #ffffff;
	box-shadow: 15px 15px 20px #5B3800;
	background: #5B3800;
	line-height: 10px;
	padding: 30px;

}
	
/*Used for the bottom bar*/
h1.myFooter{
	background: #5B3800;
	border-style: solid;
	border-color: #ffffff;
	color: #ffffff;
	box-shadow: 15px 15px 20px #5B3800;
	line-height: 10px;
	padding: 15px;
	font-size: large;
	border-left: 0px;
	border-right: 0px;
}

/*Second title text for index.html*/
h3.mySecondSpecialHeader{
	font-variant: small-caps;
	font-size: x-large;
}

/*left tittle image*/
p.leftTitleImage{
	float: left;
	border: 2px solid #ffffff;
	box-shadow: 0px 0px 20px #5B3800;
	border-radius: 5px;
	margin-left: 10px;
	}

/*right tittle image*/
p.rightTitleImage{
	float: right;
	border: 2px solid #ffffff;
	box-shadow: 0px 0px 20px #5B3800;
	margin-right: 10px;
	border-radius: 5px;
}

img.myButtonLinks{
	height: 32px; 
	width: 350px; 
	border-color: white; 
	border-style: solid;
	box-shadow: 0px 0px 20px #5B3800;
}

/*Main page links*/
a.myLinks{
	text-align: center;
	font-size: large;
}

/*footer links*/
a.myLinksFooter{
	text-align: center;
	font-size: medium;
	color: #a9cfe4;
}

/*main table detail*/
table.myTable{
	border-radius: 5px;
	padding: 5px;
	border: 2px solid #5B3800;
	box-shadow: 0px 0px 20px #ffffff;
	margin: 10px;
	width: 98.5%;
}

/*main table row detail*/	
tr.myTableRow{
	text-align: center;
	border: 2px solid #000000;
	box-shadow: 15px 15px 20px #744100;	
}

/*main table detail*/
td.myTableDetail{
	border: 2px solid #5B3800;
	box-shadow: 0px 0px 20px #ffffff;
	border-radius: 5px;
}

/*about our company text*/
p.aboutText{
	margin: 15px;
}

form.myForm
{
	margin: 15px;
}